/* -----------------------------------------
                    RESET
-------------------------------------------*/
@import url("./reset.css");

/* -----------------------------------------
                    VARIABLES
-------------------------------------------*/
:root {
  --vert: #009c91;
  --bleu: #3385d9;
  --grisclair: #dedede;
  --grisfonce: #668ba4;
  --grisbackground:#F2F5F8;
}
/* 
.grid-global {
  display: grid;
  grid-template-columns: auto repeat(3, minmax(200px, 1fr));
  grid-template-rows: 65px 1fr auto;
  gap: 0;
  height: 100vh;
} */

/* contenu des pages principales */
.content {
  grid-row: 2;
  grid-column: 2/-1;
  padding:2rem;
  background-color: var(--grisbackground);
  height: 100vh;
}

.flex-row{
 display:flex;
 flex-direction:row;
 gap:10px;
}
.flex-column{
 display:flex;
 flex-direction:column;
 gap:10px;
}
.grid-col4{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  align-items: flex-start;
  justify-content: center;
}
.encadrement{
  background-color: #fff;
  padding:2rem;
  border-radius: 1rem;
  border:1px solid var(--grisfonce);
  margin:1rem;
}
/* pour l'écart entre les éléments titre et menu contextuel */
.gap-menu{
  justify-content: space-between;
}
.gap-menu svg{
  font-size:24px;
}
/* menu contextuel logement/pieces/travaux */
.settings-icon {
  cursor: pointer;
}

.menu-contextuel {
  position: absolute;
  top: 100px;  /* Ajustez selon l'emplacement de l'engrenage */
  right: 200px;  /* Ajustez selon l'emplacement de l'engrenage */
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;  /* pour s'assurer qu'il apparait au-dessus des autres éléments */
}

.menu-contextuel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-contextuel li {
  padding: 8px;
  cursor: pointer;
}


/* -----------------------------------------
              Polices et titres
-------------------------------------------*/

/* -----------------------------------------
                    ENTETES
-------------------------------------------*/
header {
  background-color: #fff;
  display: flex;
  border-bottom: none;
  box-shadow: 0 2px 8px rgba(113,128,149,.5);
  
}

#banner {
  grid-column: 1 / -1;
}

.menu_entete {
  margin-left: auto;
  gap: 2rem;
  display: flex;
  text-align: center;
  /* padding: 1rem; */
}

.menu_entete:nth-child {
  margin-left: auto;
}

.menu_entete img {
  width: 2rem;
}

.logo_entete {
  width: 12rem;
  height: 7rem;
  /* padding-left: 3rem; */
  margin-left:10rem;
}
/* -----------------------------------------
                   NavigationDYN
-------------------------------------------*/

.backgroundMenu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 23rem;
  background: var(--grisclair);
  z-index: 997;
}
.btnToggle{
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 997;
}
ul,
li:not(.cicleul) {
  margin: 0;
  padding: 0;
}

.menudyn ul:not(.cicleul) {
  padding: 25px;
  position: absolute;
  top: 7rem;
  width: 22rem;
  z-index: 998
}

.menudyn li:not(.cicleul) {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--grisfonce);
}
li a{
  font-size:24px;
}
li span{
  padding-left:1rem;
  
}
.iconMenu img{
  width:3rem;
  padding-bottom:0.5rem;
}

.nav-links-active {
  display: block;
}

.nav-links-inactive {
  display: none;
}


/* -----------------------------------------
            LOADER
-------------------------------------------*/
.loader {
  border: 5px solid var(--grisclair);
  border-top: 5px solid var(--bleu);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* -----------------------------------------
            CAROUSEL
-------------------------------------------*/
/* aspect général du résultat du carousel */
 .carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 70rem;
  
  margin: 1rem;
  overflow: hidden;
}
.carousel-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: #ff00008e solid 2px;
} 
/* met de l'espace entre les flèches du carousel*/
.carousel-slide_direction {
  display: flex;
  justify-content: space-between;
}
.carousel-arrow-left,
.carousel-arrow-right {
  background-color: #fb666675;
  color: #fff;
  padding: 2px 0px 2px 1px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
  z-index: 9;
}
.carousel-arrow-left {
  left: 0;
}
.carousel-arrow-right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.carousel-dot {
  background-color: var(--grisfonce);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.dot-active {
  background-color: var(--vert)
}
/* gestion de la modal du carousel */
.carousel-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9990;
}

.carousel-modal img {
  max-width: 90%;
  max-height: 90%;
}
.modal-direction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.modal-arrow-left,
.modal-arrow-right {
  background-color: #fb666675;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;  /* Adjust as needed */
  width: 40px;   /* Adjust as needed */
  z-index: 9;
}

.modal-arrow-left {
  left: 20px;  /* Adjust as needed */
}

.modal-arrow-right {
  right: 20px;  /* Adjust as needed */
}

.modal-indicator {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
/* -----------------------------------------
            sous-menu des modules
-------------------------------------------*/
.submenu {
  filter: drop-shadow(1px 1px 1px var(--bleu));
  width: 300px;
  padding:2rem;
  z-index:10;
  position: absolute;
  right: 1px;
}
.submenu button{
  align-items: right;
  text-align:right;
  left:10px;
}
.submenu ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding:2rem;
  position:absolute;
  right:250px;
}

.submenu li{
  /* display: block; */
  /* transform-origin: -20px 50%; */
}

/* -----------------------------------------
            DropZone Image et Preview
-------------------------------------------*/

.previewIMG{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.imgPrev a{
font-size:1.5rem;
text-align: center;
}



/* -----------------------------------------
                   contenu des pages
-------------------------------------------*/
/* dashbord */
.card-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-flow: column nowrap;
  border-radius: 16px;
  justify-content: space-between;
  border: 3px solid var(--bleu);
  padding: 1rem;
  align-items: center; /* Centre le contenu (y compris les images) verticalement */
  text-align: center; /* Centre le texte horizontalement */
}

.card-menu img{
  width:50%;
  object-fit: contain;
  max-height: 100%;
}

/* -----------------------------------------
            CONNEXION-Inscription
-------------------------------------------*/
.imgConnexion{
background-image: url(../images/icon/3.jpg);
}
.bgConnexion{
  background-image: url(../images/icon/auth-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.auth-box {
  max-width: 800px;
  margin: 5% 0;
  position: relative;
}
.modal-bg-img {
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}
.auth-wrapper {
  min-height: 100vh;
}



/* -----------------------------------------
            FORMULAIRES
-------------------------------------------*/
/* affichage du résultat de recherche des adresses (api gouv) */
.suggestions-results{
  position: absolute;
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgb(173, 185, 201);
  color: #000;
  border-radius: 0px 0px 5px 5px;
}
.suggestion-item{
padding:1rem;
}
.selected-item{
  background-color: var(--vert);
  color:#fff;
}

/* input de recherche adresse */
#adresse{
  width:100%;
  height: 56px;
  padding: 7px;
}
/* disposition des inputs */
.typeLogement{
  display:flex;
}

.typeLogement div{
  margin-right:2rem;
}
/* gestion des boutons */
button:not(.btnToggle){
  background-color: var(--bleu);
  border-radius: 16px;
  padding:1rem;
  color:#fff;
}
button:hover:not(.btnToggle){
  background-color: var(--vert);
}
/* fin de gestion des boutons */

/* pour une marge entre les input de type radio/text et le label */
input[type="radio"],input[type="text"] {
  margin-right: 0.5rem; 
  margin-left: 0.5rem; 
}
/* form{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
  background-color: var(--vert);
  border: 1px solid #000;

}
#creationlogement{
  background-color: var(--grisclair);
  padding: 2rem;

}
CheckBoX pour le type de logement */

.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

/* fin de la gestion des checkbox pour le type de logement */

/* -----------------------------------------
                   PIED DE PAGE
-------------------------------------------*/
footer {
  background-color: var(--bleu);
  padding: 1.5rem;
  text-align: center;
  grid-row-end: 4;
  grid-column: 1 / -1;
}
